<!--ENTETE-->
<header>
    <a
    id="fb"
    class="facebook"
    target="blank"
    href="{{ socials.facebook }}"
    >
        <img src="images/icons/fb.svg" alt=""/>
    </a>
    <div id="logo">
        <img src="images/uploads/logo.svg"/>
    </div>
    <div id="date">
        <p>{{ dates.dateCourse | readableDate}}</p>
    </div>
</header>