<div id="inscription" class="light">
  {# <div id="covid">
        <p class="title">COVID-19</p>
        <p>On fait tout ce qu'il faut pour que vous soyez en sécurité</p>
        <p>
          Merci de prendre connaissance de la charte ci-dessous avant votre
          inscription
        </p>
        <span class="bouton bt-dark bt-external"
          >
            <a href="/charte_sanitaire_envolez_vous.pdf" target="blank"
            >Charte sanitaire du coureur</a
          >
            <i class="fas fa-external-link-square-alt"></i
        >
        </span> 
    </div> #}
  <div id="clock"></div>
  <div id="inscrivezvous">
    <a
          id="raceresultLink"
          target="blank"
          href="{{course.liens.inscription}}"
          >Inscrivez-vous !</a
        >
  </div>
  <div id="benefices">
        Course caritative au bénéfice de l'association EnVol
      </div>
  <div class="attention">
    <p>
          Un certificat médical de moins de un an ou une licence FFA sont
          nécessaires au moment de l'inscription
        </p>
    {# <p>
          Clôture des inscriptions le <%=
          htmlWebpackPlugin.options.data.clotureInscription.court %>.
        </p>
        <p>Pas d'inscription sur place (pour cause sanitaire)</p> #}
  </div>

  {# <div id="infos_dossards">
        Retraits de dossards exclusivement à
        <a href="https://foulees.com/-montpellier-"
          >Foulées <i class="fas fa-external-link-square-alt"></i
        >
        </a>
        de 14h à 19h le <%= htmlWebpackPlugin.options.data.dateRetrait.court %>.
      </div> #}
</div>