<section id="inscription" class="light">
  {# <div id="covid">
        <p class="title">COVID-19</p>
        <p>On fait tout ce qu'il faut pour que vous soyez en sécurité</p>
        <p>
          Merci de prendre connaissance de la charte ci-dessous avant votre
          inscription
        </p>
        <span class="bouton bt-dark bt-external"
          >
            <a href="/charte_sanitaire_envolez_vous.pdf" target="blank"
            >Charte sanitaire du coureur</a
          >
            <i class="fas fa-external-link-square-alt"></i
        >
        </span> 
    </div> #}
  {# <div id="clock"></div> #}
  {% if inscription.resultats %}
    <div id="inscrivezvous">
      <a
          id="raceresultLink"
          target="blank"
          href="{{inscription.resultats}}"
          >Résultats</a
        >
    </div>

    {% else%}

    {% if inscription.actives %}
      <div id="inscrivezvous">
        <a
          id="raceresultLink"
          target="blank"
          href="{{inscription.lien}}"
          >Inscrivez-vous !</a
        >
      </div>
    {% else %}
      <div id="inscrivezvous" class="inactif" >
        <a
          id="raceresultLink"
          >Inscriptions closes</a
        >
      </div>
    {% endif %}
  {% endif %}
  <div id="benefices">
        Course caritative au bénéfice de l'association {{associations.beneficiaire.name}}
  </div>
  <div class="attention">
    <p>
        Un certificat médical de moins de un an ou une licence FFA sont
        nécessaires au moment de l'inscription
      </p>
    {# <p>Pas d'inscription sur place (pour cause sanitaire)</p> #}
  </div>

  {# {% if courses.pousseurs.reductionEnabled %}
    <div class="">
      <div class="pousseur">
        <p>
              Si vous voulez travailler le haut du corps en même temps que le
              bas, n'hésitez pas à devenir <strong>Pousseur</strong> durant la
              course !
            </p>
        <p>Code de réduction : <span class="code">{{courses.pousseurs.coupon}}
          </span>
        </p>
      </div>
    </div>
  {% endif %} #}

  {% if inscription.informations %}
    <div class="complementaire">
      {{inscription.informations  | mdToHtml | safe}}
    </div>
  {% endif %}
</section>