<!-- BARRE DE NAVIGATION -->
<div id="navbar">
    <a name="inscription" href="#inscription" class="active">Inscription</a>
    <a name="associations" href="#associations">Associations</a>
    <a name="parcours" href="#parcours">Parcours</a>
    <a name="programme" href="#programme">Programme</a>
    <a name="reglement" class="pdf" href="reglement_2021.pdf"
        >
        <i class="far fa-file-alt"></i>Règlement</a
      >
    <a
    name="facebook"
    class="facebook"
    target="blank"
    href="{{ socials.facebook }}"
    >
        <img src="images/icons/fb.svg" alt=""/>
    </a>
</div>