<section id="parcours" class="light">
    <h2>2 distances</h2>
    <div class="infosGenerales">
        Départ et Arrivée au
        <span class="bouton bt-dark bt-maps"
          >
            <a target="blank" href="https://goo.gl/maps/WeByEYbuFtB2"
            >
                <i class="fa fa-map-marker-alt"></i>Bassin Jacques C&oelig;ur</a
          >
        </span
        >
    </div>
    <div class="circuits">
        {% set circuit = courses.court %}
        {% include '_circuit.njk' %}

        {% if courses.pousseurs.reductionEnabled %}
            <div class="">
                <div class="pousseur">
                    <p>
              Si vous voulez travailler le haut du corps en même temps que le
              bas, n'hésitez pas à devenir <strong>Pousseur</strong> durant la
              course !
            </p>
                    <p>Code de réduction : <span class="code">{{courses.pousseurs.coupon}}
                        </span>
                    </p>
                </div>
            </div>
        {% endif %}
        {% set circuit = courses.long %}
        {% include '_circuit.njk' %}
    </div>
    <div id="enfants">
        <div class="colonne">
            <div class="logo">
                <img src="images/child.svg" width="150px"/>
            </div>
            <div class="texte">
                {{ courses.enfants.informations | mdToHtml | safe}}
            </div>
        </div>
    </div>
</section>