<section id="parcours" class="light">
    <h2>{{parcours | length}} parcours</h2>
    <div class="infosGenerales">
        Départ et Arrivée au
        <span class="bouton bt-dark bt-maps"
          >
            <a target="blank" href="https://goo.gl/maps/WeByEYbuFtB2"
            >
                <i class="fa fa-map-marker-alt"></i>Bassin Jacques C&oelig;ur</a
          >
        </span
        >
    </div>
    <div class="circuits">
        {% for name, circuit in parcours %}
            {% include '_circuit.njk' %}

        {% endfor %}

    </div>
    <div id="enfants">
        <div class="colonne">`
            <div class="logo">
                <img src="images/child.svg" width="150px"/>
            </div>
            <div class="texte">
                {{ courses.enfants.informations | mdToHtml | safe}}
            </div>
        </div>
    </div>
</section>