<section id="sponsors">
    <div class="grid">
        <div class="grid-sizer"></div>
        <a class="grid-item important" href="http://www.montpellier3m.fr/" target="blank">
            <img src="images/sponsors/mmm.png" alt=""/>
        </a>
        <a class="grid-item" href="http://www.montpellier.fr/" target="blank"
          ><img src="images/sponsors/montpellier.png" alt=""
/></a>
        <a class="grid-item important" href="http://www.ville-lattes.fr/" target="blank"
          ><img src="images/sponsors/lattes.png" alt=""
/></a>
        <a class="grid-item" href="http://www.heraultsport.fr/" target="blank"
          ><img src="images/sponsors/herault_sport.png" alt="herault sport"
/></a>
        <a class="grid-item important"
          href="https://www.decathlon.fr/fr/magasin/magasin-sport-montpellier-odysseum-MS_0070001700017.html"
          targer="blank"
          ><img src="images/sponsors/decathlon.jpg" alt=""
/></a>
        <a class="grid-item" href="https://www.ge.com/fr/" target="blank"
          ><img src="images/sponsors/ge.png" alt=""
/></a>
        <a class="grid-item very-important"
          href="https://www.magasins-u.com/superu-castelnaulelez"
          target="blank"
          ><img src="images/sponsors/super_u.png" alt=""
/></a>
        <a class="grid-item"
          href="http://assos.montpellier.fr/TPL_CODE/TPL_ASSOCIATION/PAR_TPL_IDENTIFIANT/5372/RETURN/1/FROM_ASSOUNE/1/2891-accueil-des-associations.htm"
          target="blank"
          ><img src="images/sponsors/port_marianne.png" alt=""
/></a>
        <a class="grid-item" href="http://www.croix-rouge.fr/" target="blank"
          ><img src="images/sponsors/croix_rouge.png" alt=""
/></a>
        <!-- <a class="grid-item" href="http://fondshandicapsolidarite.org/" target="blank"><img src="images/sponsors/fonds_handicap_solidarite.jpg" alt=""></a> -->
        <a class="grid-item" href="https://ac-lattes.net/" target="blank"
          ><img src="images/sponsors/coureurs_lattois.png" alt=""
/></a>

        <a class="grid-item"
          href="https://www.facebook.com/Couleurs-de-Bi%C3%A8res-Officiel-175497609144290/"
          target="blank"
          ><img src="images/sponsors/couleurs_de_bieres.png" alt=""
/></a>
        <a class="grid-item" href="http://www.locavorium.fr" target="blank"
          ><img src="images/sponsors/locavorium.png" alt=""
/></a>
        <a class="grid-item" href="http://cocofanfareclub.fr/" target="blank"
          ><img src="images/sponsors/coco_fanfare_club.png" alt=""
/></a>
        <!-- <a class="grid-item" href="https://www.csprint.fr" target="blank"><img src="images/sponsors/csprint.png" alt=""></a> -->
        <a class="grid-item" href="http://www.la-gravette.com/" target="blank"
          ><img src="images/sponsors/gravette.png" alt=""
/></a>
        <a class="grid-item" href="https://foulees.com/-montpellier-/" target="blank"
          ><img src="images/sponsors/logo-foulees.jpg" alt=""
/></a>
        <!-- <a class="grid-item" href="http://www.rtl2.fr/" target="blank"><img src="images/sponsors/rtl2.png" alt=""></a> -->
        <a class="grid-item" href="https://www.dpnews.fr">
            <img src="images/sponsors/dpnews.jpg" alt=""
/></a>
        <!-- <a class="grid-item" href="https://www.mma.fr/" target="blank"><img src="images/sponsors/mma.png" alt=""></a> -->
        <a class="grid-item" href="http://www.lagazettedemontpellier.fr/" target="blank"
          ><img src="images/sponsors/gazette.png" alt=""
/></a>
        <a class="grid-item" href="http://www.midilibre.fr/" target="blank"
          ><img src="images/sponsors/midi-libre-logo.jpg" alt=""
/></a>
        <a class="grid-item" href="https://www.francebleu.fr/herault" target="blank"
          ><img src="images/sponsors/fb-herault.jpg" alt=""
/></a>

        <!-- <a class="grid-item" href="https://www.facebook.com/NightRunMontpellier/" target="blank"><img src="images/sponsors/night_run.png" alt=""></a> -->
        <!-- <a class="grid-item" href="http://club.quomodo.com/runningsensation" target="blank"><img src="images/sponsors/running_sensation.jpg" alt=""></a> -->
    </div>

</section>