<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=450, initial-scale=1.0"/>
        <title>
      envoLez-Vous ! - {{ dates.dateCourse | readableDate}}
        </title>
        <link
      href="https://fonts.googleapis.com/css?family=Kanit:500,700,900|Source+Sans+Pro"
      rel="stylesheet"
/>
        <link href="css/style.css" rel="stylesheet"/>

        <meta name="msapplication-TileColor" content="#55b758"/>
        <meta name="theme-color" content="#55b758"/>

        <meta property="og:url" content="http://www.envolez-vous.info"/>
        <meta property="og:type" content="website"/>
        <meta
      property="og:title"
      content="Course EnvoLez-vous, courir pour un sourire"
/>
        <meta
      property="og:description"
      content="Informations et inscription à la course du 24 février à Montpellier"
/>
        <meta
      property="og:image"
      content="http://www.envolez-vous.info/img/facebook.jpg"
/>
    </head>
    <body>

        {{content | safe}}

        <!-- Facebook Pixel Code -->
        <script>
            !(function (f, b, e, v, n, t, s) {
                if (f.fbq) 
                    return;
                n = f.fbq = function () {
                    n.callMethod
                        ? n
                            .callMethod
                            .apply(n, arguments)
                        : n
                            .queue
                            .push(arguments);
                };
                if (!f._fbq) 
                    f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = "2.0";
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s
                    .parentNode
                    .insertBefore(t, s);
            })(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js");
            fbq("init", "1035522507256309");
            fbq("track", "PageView");
        </script>
        <noscript>
            <img
        height="1"
        width="1"
        src="https://www.facebook.com/tr?id=1035522507256309&ev=PageView
&noscript=1"
/>
        </noscript>
        <!-- End Facebook Pixel Code -->
        <script src="vendors/masonry.pkgd.min.js"></script>
        <script src="vendors/imagesloaded.pkgd.min.js"></script>
        <script>
            var grid = document.querySelector('.grid');
            var msnry;

            imagesLoaded(grid, function () {
                // init Isotope after all images have loaded
                msnry = new Masonry(grid, {
                    itemSelector: '.grid-item',
                    columnWidth: '.grid-sizer',
                    gutter: 10,
                    fitWidth: true
                });
            });
        </script>
    </body>
</html>