---
layout: layout/main.njk
permalink: /
---

{% include 'header.njk' %}
{% include 'navbar.njk' %}
{% include 'inscription.njk' %}
{% include 'associations.njk' %}
{% include 'parcours.njk' %}

{# 

<!-- PROGRAMME -->
<section id="programme">
  <h2>Programme</h2>
  <div class="timeline">
    <div class="container right">
      <div class="content">
        <h3>
          <%= htmlWebpackPlugin.options.data.dateRetrait.court %> : 14h00
            </h3>
        <p>Retrait des dossards jusqu'à 19h</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h3>
          <%= htmlWebpackPlugin.options.data.dateCourse.court %> : 10h20
            </h3>
        <p>
              Départ des courses enfants (inscriptions sur place à partir de
              09h30)
            </p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h3>
          <%= htmlWebpackPlugin.options.data.dateCourse.court %> : 10h50
            </h3>
        <p>Départ des courses handi</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h3>
          <%= htmlWebpackPlugin.options.data.dateCourse.court %> : 11h00
            </h3>
        <p>Départ des joëlettes sur les parcours</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h3>
          <%= htmlWebpackPlugin.options.data.dateCourse.court %> : 11h05
            </h3>
        <p>Départ parcours 5km et 11km</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h3>
          <%= htmlWebpackPlugin.options.data.dateCourse.court %> : 11h45
            </h3>
        <p>Remise des prix</p>
      </div>
    </div>
  </div>
</section>

<!-- SPONSORS -->
<section id="sponsors">
  <div class="ligne">
    <a href="http://www.montpellier3m.fr/" target="blank"
          ><img src="img/sponsors/mmm.png" alt=""
/></a>
    <a href="http://www.montpellier.fr/" target="blank"
          ><img src="img/sponsors/montpellier.png" alt=""
/></a>
    <a href="http://www.ville-lattes.fr/" target="blank"
          ><img src="img/sponsors/lattes.png" alt=""
/></a>
  </div>
  <div class="ligne">
    <a href="http://www.heraultsport.fr/" target="blank"
          ><img src="img/sponsors/herault_sport.png" alt="herault sport"
/></a>
    <a
          href="https://www.decathlon.fr/fr/magasin/magasin-sport-montpellier-odysseum-MS_0070001700017.html"
          targer="blank"
          ><img src="img/sponsors/decathlon.jpg" alt=""
/></a>
    <a href="https://www.ge.com/fr/" target="blank"
          ><img src="img/sponsors/ge.png" alt=""
/></a>
    <a
          href="https://www.magasins-u.com/superu-castelnaulelez"
          target="blank"
          ><img src="img/sponsors/super_u.png" alt=""
/></a>
  </div>
  <div class="ligne derniere">
    <a
          href="http://assos.montpellier.fr/TPL_CODE/TPL_ASSOCIATION/PAR_TPL_IDENTIFIANT/5372/RETURN/1/FROM_ASSOUNE/1/2891-accueil-des-associations.htm"
          target="blank"
          ><img src="img/sponsors/port_marianne.png" alt=""
/></a>
    <a href="http://www.croix-rouge.fr/" target="blank"
          ><img src="img/sponsors/croix_rouge.png" alt=""
/></a>
    <!-- <a href="http://fondshandicapsolidarite.org/" target="blank"><img src="img/sponsors/fonds_handicap_solidarite.jpg" alt=""></a> -->
  </div>
  <div class="ligne derniere">
    <a href="https://ac-lattes.net/" target="blank"
          ><img src="img/sponsors/coureurs_lattois.png" alt=""
/></a>

    <a
          href="https://www.facebook.com/Couleurs-de-Bi%C3%A8res-Officiel-175497609144290/"
          target="blank"
          ><img src="img/sponsors/couleurs_de_bieres.png" alt=""
/></a>
    <a href="http://www.locavorium.fr" target="blank"
          ><img src="img/sponsors/locavorium.png" alt=""
/></a>
    <a href="http://cocofanfareclub.fr/" target="blank"
          ><img src="img/sponsors/coco_fanfare_club.png" alt=""
/></a>
    <!-- <a href="https://www.csprint.fr" target="blank"><img src="img/sponsors/csprint.png" alt=""></a> -->
    <a href="http://www.la-gravette.com/" target="blank"
          ><img src="img/sponsors/gravette.png" alt=""
/></a>
    <a href="https://foulees.com/-montpellier-/" target="blank"
          ><img src="img/sponsors/logo-foulees.jpg" alt=""
/></a>
  </div>
  <div class="ligne derniere">
    <!-- <a href="http://www.rtl2.fr/" target="blank"><img src="img/sponsors/rtl2.png" alt=""></a> -->
    <a href="https://www.dpnews.fr">
      <img src="img/sponsors/dpnews.jpg" alt=""
/></a>
    <!-- <a href="https://www.mma.fr/" target="blank"><img src="img/sponsors/mma.png" alt=""></a> -->
    <a href="http://www.lagazettedemontpellier.fr/" target="blank"
          ><img src="img/sponsors/gazette.png" alt=""
/></a>
    <a href="http://www.midilibre.fr/" target="blank"
          ><img src="img/sponsors/midi-libre-logo.jpg" alt=""
/></a>
    <a href="https://www.francebleu.fr/herault" target="blank"
          ><img src="img/sponsors/fb-herault.jpg" alt=""
/></a>

    <!-- <a href="https://www.facebook.com/NightRunMontpellier/" target="blank"><img src="img/sponsors/night_run.png" alt=""></a> -->
    <!-- <a href="http://club.quomodo.com/runningsensation" target="blank"><img src="img/sponsors/running_sensation.jpg" alt=""></a> -->
  </div>
</section> #}
{% include 'contact.njk' %}