---
layout: layout/main.njk
permalink: /
---

{% include 'header.njk' %}
{% include 'navbar.njk' %}
{% include 'inscription.njk' %}
{% include 'associations.njk' %}
{% include 'parcours.njk' %}
{% include 'programme.njk' %}
{% include 'sponsors.njk' %}

{# 


<!-- SPONSORS -->
 #}
{% include 'contact.njk' %}