---
layout: layout/main.njk
permalink: /
---

<!--ENTETE-->
<header>
  <a
        id="fb"
        class="facebook"
        target="blank"
        href="<%= htmlWebpackPlugin.options.data.adresseFacebook %>"
        ><img src="img/fb.svg" alt=""
/></a>
  <div id="logo">
    <img src="img/logo.svg"/>
  </div>
  <div id="date">
    <p>{{ dates.dateCourse | readableDate}}</p>
  </div>
  <!-- <p id="date"></p> -->
</header>

<!-- BARRE DE NAVIGATION -->
<div id="navbar">
  <a name="inscription" href="#inscription" class="active">Inscription</a>
  <a name="associations" href="#associations">Associations</a>
  <a name="parcours" href="#parcours">Parcours</a>
  <a name="programme" href="#programme">Programme</a>
  <a name="reglement" class="pdf" href="reglement_2021.pdf"
        >
    <i class="far fa-file-alt"></i>Règlement</a
      >
  <a
        name="facebook"
        class="facebook"
        target="blank"
        href="<%= htmlWebpackPlugin.options.data.adresseFacebook %>"
        ><img src="img/fb.svg" alt=""
/></a>
</div>

<div id="inscription" class="light">
  <div id="covid">
    <p class="title">COVID-19</p>
    <p>On fait tout ce qu'il faut pour que vous soyez en sécurité</p>
    <p>
          Merci de prendre connaissance de la charte ci-dessous avant votre
          inscription
        </p>
    <span class="bouton bt-dark bt-external"
          >
      <a href="/charte_sanitaire_envolez_vous.pdf" target="blank"
            >Charte sanitaire du coureur</a
          >
      <i class="fas fa-external-link-square-alt"></i
        >
    </span>
  </div>
  <div id="clock"></div>
  <div id="inscrivezvous">
    <a
          id="raceresultLink"
          target="blank"
          href="<%= htmlWebpackPlugin.options.data.helloAsso %>"
          >Inscrivez-vous !</a
        >
  </div>
  <div id="benefices">
        Course caritative au bénéfice de l'association EnVol
      </div>
  <div class="attention">
    <p>
          Un certificat médical de moins de un an ou une licence FFA sont
          nécessaires au moment de l'inscription
        </p>
    <p>
          Clôture des inscriptions le <%=
          htmlWebpackPlugin.options.data.clotureInscription.court %>.
        </p>
    <p>Pas d'inscription sur place (pour cause sanitaire)</p>
  </div>

  <div id="infos_dossards">
        Retraits de dossards exclusivement à
        <a href="https://foulees.com/-montpellier-"
          >Foulées <i class="fas fa-external-link-square-alt"></i
        >
    </a>
        de 14h à 19h le <%= htmlWebpackPlugin.options.data.dateRetrait.court %>.
      </div>
</div>

<!-- Associations -->
<section id="associations" class="dark">
  <div class="colonne">
    <div class="logo">
      <img src="img/marc.svg" alt=""/>
    </div>
    <div class="texte">
      <p>
            Depuis 2010, les Marciens (membres du MARC) sont présents sur les
            courses de l'Hérault et du Gard... voire même à l'international !
            Ouvert à tous les niveaux, le MARC propose des sorties et des
            entraînements au stade Philippidès
          </p>
      <span class="bouton bt-dark bt-external"
            >
        <a href="http://www.marc-athletisme.org" target="blank"
              >Découvrir l'association</a
            >
        <i class="fas fa-external-link-square-alt"></i
          >
      </span>
    </div>
  </div>
  <div class="colonne">
    <div class="logo">
      <img src="img/envol.svg" alt=""/>
    </div>
    <div class="texte">
      <p>
            L'association EnVol agit pour compenser le handicap par la pratique
            d'activités physiques adaptées, pour rendre accessible ce qui était
            inaccessible. Lugiglace, parcours en joelette, randonnées et séances
            aquatiques sont au programme pour tous !
          </p>
      <span class="bouton bt-dark-envol bt-external"
            >
        <a
              href="https://sites.google.com/site/envolsportsante/"
              target="blank"
              >Découvrir l'association</a
            >
        <i class="fas fa-external-link-square-alt"></i
          >
      </span>
    </div>
  </div>
</section>

<!-- PARCOURS -->
<section id="parcours" class="light">
  <h2>2 distances</h2>
  <div class="infosGenerales">
        D&eacute;part et Arriv&eacute;e au
        <span class="bouton bt-dark bt-maps"
          >
      <a target="blank" href="https://goo.gl/maps/WeByEYbuFtB2"
            >
        <i class="fa fa-map-marker-alt"></i>Bassin Jacques C&oelig;ur</a
          >
    </span
        >
  </div>
  <div class="circuits">
    <div class="circuit">
      <div class="distance">5</div>
      <div class="depart">
        <p class="heure">
          <i class="far fa-clock" aria-hidden="true"></i> 11h00
            </p>
        <p class="tarif">8 &euro;</p>
        <% if (htmlWebpackPlugin.options.data.augmentationExists) { %>
          <p class="hausse">
              +2 &euro; à partir du
              <span class="reduction"
                ><%= htmlWebpackPlugin.options.data.dateAugmentation.court
                %></span
              >
          </p>
        <% } %>
      </div>

      <iframe
            width="350px"
            height="610px"
            src="https://www.openrunner.com/route/9254249/embed/fr/6b51694d666f4f6a325855457857504e6c506d787337423057796c6354724a6e665637634d7948744f7a633d3a3aaec3270a8c08e7bf49751c40b4b8b726"
            frameborder="0"
            allowfullscreen
          ></iframe>

      <div class="informations">
            Ravitaillement &agrave; l'arriv&eacute;e
          </div>
      <div class="handicourses">
        <div class="logo fab fa-accessible-icon" aria-hidden="true"></div>
        <p>Cette course propose un classement handisport</p>
      </div>
    </div>

    <div class="">
      <div class="pousseur">
        <p>
              Si vous voulez travailler le haut du corps en même temps que le
              bas, n'hésitez pas à devenir <strong>Pousseur</strong> durant la
              course !
            </p>
        <p>Code de réduction : <span class="code">POUS2020 </span></p>
      </div>
    </div>
    <div class="circuit">
      <div class="distance">11</div>
      <div class="depart">
        <p class="heure">
          <i class="far fa-clock" aria-hidden="true"></i> 11h00
            </p>
        <p class="tarif">11 &euro;</p>
        <% if (htmlWebpackPlugin.options.data.augmentationExists) { %>
          <p class="hausse">
              +2 &euro; à partir du
              <span class="reduction"
                ><%= htmlWebpackPlugin.options.data.dateAugmentation.court
                %></span
              >
          </p>
        <% } %>
      </div>
      <iframe
            width="350px"
            height="610px"
            src="https://www.openrunner.com/route/8094704/embed/fr/5578633477744263635a6d7270745170386562713530553741726b515166767171376b37526a46354f526f3d3a3a6e22907a7f1c43fe7bc24d862151c2b6"
            frameborder="0"
            allowfullscreen
          ></iframe>
      <div class="informations">
            Ravitaillement
            <strong>uniquement &agrave; l'arriv&eacute;e</strong>, prévoyez de
            quoi vous hydrater 💧.
          </div>
      <div class="handicourses">
        <div class="logo fab fa-accessible-icon" aria-hidden="true"></div>
        <p>Cette course propose un classement handisport</p>
      </div>
    </div>
  </div>
  <div id="enfants">
    <div class="colonne">
      <div class="logo">
        <img src="img/child.svg" width="150px"/>
      </div>
      <div class="texte">
        <p>
              Des courses sont aussi proposées pour les enfants de 4 à 15 ans
              avec des cadeaux à l'arrivée à partir de 10h00 autour du bassin
              Jacques C&oelig;ur!
            </p>
        <p></p>
        <p>(1€ - inscription sur place)</p>
      </div>
    </div>
  </div>
  <!-- <div id="montgolfiere_details">
			<div class="colonne">
				<div class="logo">
					<img src="img/montgolfiere.svg" width="100px">
				</div>
				<div class="texte">
					<p>Tirage au sort dans les 50 premiers inscrits pour un bapt&ecirc;me de l'air en montgolfi&egrave;re sous r&eacute;serve de conditions météorologiques favorables</p>
				</div>
			</div>
		</div> -->
</section>

<!-- PROGRAMME -->
<section id="programme">
  <h2>Programme</h2>
  <div class="timeline">
    <div class="container right">
      <div class="content">
        <h3>
          <%= htmlWebpackPlugin.options.data.dateRetrait.court %> : 14h00
            </h3>
        <p>Retrait des dossards jusqu'à 19h</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h3>
          <%= htmlWebpackPlugin.options.data.dateCourse.court %> : 10h20
            </h3>
        <p>
              Départ des courses enfants (inscriptions sur place à partir de
              09h30)
            </p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h3>
          <%= htmlWebpackPlugin.options.data.dateCourse.court %> : 10h50
            </h3>
        <p>Départ des courses handi</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h3>
          <%= htmlWebpackPlugin.options.data.dateCourse.court %> : 11h00
            </h3>
        <p>Départ des joëlettes sur les parcours</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h3>
          <%= htmlWebpackPlugin.options.data.dateCourse.court %> : 11h05
            </h3>
        <p>Départ parcours 5km et 11km</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h3>
          <%= htmlWebpackPlugin.options.data.dateCourse.court %> : 11h45
            </h3>
        <p>Remise des prix</p>
      </div>
    </div>
  </div>
</section>

<!-- SPONSORS -->
<section id="sponsors">
  <div class="ligne">
    <a href="http://www.montpellier3m.fr/" target="blank"
          ><img src="img/sponsors/mmm.png" alt=""
/></a>
    <a href="http://www.montpellier.fr/" target="blank"
          ><img src="img/sponsors/montpellier.png" alt=""
/></a>
    <a href="http://www.ville-lattes.fr/" target="blank"
          ><img src="img/sponsors/lattes.png" alt=""
/></a>
  </div>
  <div class="ligne">
    <a href="http://www.heraultsport.fr/" target="blank"
          ><img src="img/sponsors/herault_sport.png" alt="herault sport"
/></a>
    <a
          href="https://www.decathlon.fr/fr/magasin/magasin-sport-montpellier-odysseum-MS_0070001700017.html"
          targer="blank"
          ><img src="img/sponsors/decathlon.jpg" alt=""
/></a>
    <a href="https://www.ge.com/fr/" target="blank"
          ><img src="img/sponsors/ge.png" alt=""
/></a>
    <a
          href="https://www.magasins-u.com/superu-castelnaulelez"
          target="blank"
          ><img src="img/sponsors/super_u.png" alt=""
/></a>
  </div>
  <div class="ligne derniere">
    <a
          href="http://assos.montpellier.fr/TPL_CODE/TPL_ASSOCIATION/PAR_TPL_IDENTIFIANT/5372/RETURN/1/FROM_ASSOUNE/1/2891-accueil-des-associations.htm"
          target="blank"
          ><img src="img/sponsors/port_marianne.png" alt=""
/></a>
    <a href="http://www.croix-rouge.fr/" target="blank"
          ><img src="img/sponsors/croix_rouge.png" alt=""
/></a>
    <!-- <a href="http://fondshandicapsolidarite.org/" target="blank"><img src="img/sponsors/fonds_handicap_solidarite.jpg" alt=""></a> -->
  </div>
  <div class="ligne derniere">
    <a href="https://ac-lattes.net/" target="blank"
          ><img src="img/sponsors/coureurs_lattois.png" alt=""
/></a>

    <a
          href="https://www.facebook.com/Couleurs-de-Bi%C3%A8res-Officiel-175497609144290/"
          target="blank"
          ><img src="img/sponsors/couleurs_de_bieres.png" alt=""
/></a>
    <a href="http://www.locavorium.fr" target="blank"
          ><img src="img/sponsors/locavorium.png" alt=""
/></a>
    <a href="http://cocofanfareclub.fr/" target="blank"
          ><img src="img/sponsors/coco_fanfare_club.png" alt=""
/></a>
    <!-- <a href="https://www.csprint.fr" target="blank"><img src="img/sponsors/csprint.png" alt=""></a> -->
    <a href="http://www.la-gravette.com/" target="blank"
          ><img src="img/sponsors/gravette.png" alt=""
/></a>
    <a href="https://foulees.com/-montpellier-/" target="blank"
          ><img src="img/sponsors/logo-foulees.jpg" alt=""
/></a>
  </div>
  <div class="ligne derniere">
    <!-- <a href="http://www.rtl2.fr/" target="blank"><img src="img/sponsors/rtl2.png" alt=""></a> -->
    <a href="https://www.dpnews.fr">
      <img src="img/sponsors/dpnews.jpg" alt=""
/></a>
    <!-- <a href="https://www.mma.fr/" target="blank"><img src="img/sponsors/mma.png" alt=""></a> -->
    <a href="http://www.lagazettedemontpellier.fr/" target="blank"
          ><img src="img/sponsors/gazette.png" alt=""
/></a>
    <a href="http://www.midilibre.fr/" target="blank"
          ><img src="img/sponsors/midi-libre-logo.jpg" alt=""
/></a>
    <a href="https://www.francebleu.fr/herault" target="blank"
          ><img src="img/sponsors/fb-herault.jpg" alt=""
/></a>

    <!-- <a href="https://www.facebook.com/NightRunMontpellier/" target="blank"><img src="img/sponsors/night_run.png" alt=""></a> -->
    <!-- <a href="http://club.quomodo.com/runningsensation" target="blank"><img src="img/sponsors/running_sensation.jpg" alt=""></a> -->
  </div>
</section>
<section id="contact" class="dark">
  <span class="bouton bt-dark"
        >
    <i class="far fa-envelope"></i
        >
    <a href="mailto:contact@marc-athletisme.org">Mail</a>
  </span
      >
  <span class="bouton bt-dark bt-facebook"
        >
    <a
          class="facebook"
          href="<%= htmlWebpackPlugin.options.data.adresseFacebook %>"
          >
      <i class="fab fa-facebook-square"></i>Facebook</a
        >
  </span
      >
  <span class="bouton bt-dark"
        >
    <a href="tel:0768344719"
          >
      <i class="fas fa-phone-alt"></i>07 68 34 47 19</a
        >
  </span
      >
</section>